<div id="contenido">
    <div class="container">
        <div class="textoTituloContenido">
            <span>
                Lista De
            </span>
            <br>
            <span>
                Documentos
            </span>
        </div>
        <div class="texnoNormal">
            <div class="contenedorInicial">
                <!-- Button trigger modal para añadir nuevo-->
                <button type="button" (click)="limpiarCampos()" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Agregar Nuevo
                </button>
                <div class="cantidadMostrar" *ngIf="listaDocumentos">Datos Para Mostrar: {{listaDocumentos.documentos.length}} </div>
            </div>
            
            
            <!-- Modal para añadir datos -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevos Datos</h5>
                    
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ng-container *ngIf="!espera">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nombre del documento</label>
                                <input type="text" class="form-control" [(ngModel)]="valorNombreDocumento" id="exampleFormControlInput1" placeholder="Nombre del documento">
                            </div>
    
                            <label for="exampleFormControlInput2" class="form-label">Cargar</label> 
                            <div class="input-group mb-3">
                                <input (change)="capturarDocumento($event)" type="file" accept="application/pdf,application" class="form-control" id="inputGroupFile02">
                                
    
                            </div>
    
                            <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">Nota</label>
                                <input type="text" class="form-control" [(ngModel)]="valorNota" id="exampleFormControlInput3" placeholder="Nota">
    
                            </div>
        
                        </ng-container>
                        

                        <ng-container *ngIf="espera">

                            <div  class="template">
                                <h1 class="textoEspera"> Espere...</h1>
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-secondary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-warning" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-info" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-light" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" (click)="guardarDatos()">Guardar</button>
                    </div>
                </div>
                </div>
            </div>

            <!-- Modal para visualizar-->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Visualizando Datos</h5>
                    
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" >
                        <ng-container *ngIf="documento!==undefined && documento!==null && !espera">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label subtituloModal">Nombre del Documento:</label>
                                <p class="colorModalP">{{documento.documentos[0].nombreDocumento}}.pdf</p>
                            </div>
                            
                            <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label subtituloModal">Nota:</label>
                                <p class="colorModalP">{{documento.documentos[0].nota}}</p>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label subtituloModal">Descargar:</label>
                            </div>
                            
                            <div class="contenedorImagen2"><img type="button" (click)="onClickDownloadPdf()" class="imagenPDF" class="pdfPrevisializacion2" [src]="'assets/Recursos/pdf.png'"></div>

                        </ng-container>

                        <ng-container *ngIf="espera">

                            <div  class="template">
                                <h1 class="textoEspera"> Espere...</h1>
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-secondary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-warning" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-info" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-light" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="setParametroModificar()" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal3">Modificar</button>
                    <button type="button" class="btn btn-success" (click)="getParametrosEliminar(documento.documentos[0].id,documento.documentos[0].idUsuario)">Eliminar</button>
                    </div>
                </div>
                </div>
            </div>   

            <!-- Modal 3 para modificar los datos -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">Modificar Datos</h5>
                        
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ng-container *ngIf="!espera">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput30" class="form-label">Nombre del documento</label>
                                    <input type="text" class="form-control" [(ngModel)]="valorNombreDocumento" id="exampleFormControlInput30" placeholder="Nombre del documento">
                                </div>
        
                                <div class="mb-3">
                                    <label for="exampleFormControlInput33" class="form-label">Nota</label>
                                    <input type="text" class="form-control" [(ngModel)]="valorNota" id="exampleFormControlInput33" placeholder="Nota">
                                </div>

                                <label for="exampleFormControlInput31" class="form-label">Archivo</label> 
                                <div class="input-group mb-3">
                                    <div class="contenedorImagen"><img class="imagenPDF" class="pdfPrevisializacion" [src]="'assets/Recursos/pdf.png'"></div>
                                    <p class="textoAviso">*No se puede Modificar el archivo Subido</p>
                                    <p class="textoAviso">*Si desea modificar el archivo, elimine y suba de nuevo</p>
                                </div>
                               
                            </ng-container>

                            <ng-container *ngIf="espera">

                                <div  class="template">
                                    <h1 class="textoEspera"> Espere...</h1>
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-secondary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-success" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-danger" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-warning" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-info" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-light" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div class="spinner-grow text-dark" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal2">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="guardarDatosModificados()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div *ngIf="listaDocumentos; else listaNoEncontrada" class="columna">
            <div class="list-group list-group-modificar">  
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="getParametrosDocumento(documento.id,documento.idUsuario)" *ngFor="let documento of listaDocumentos.documentos;let indice=index" class="list-group-item list-group-item-dark list-group-item-action">
                    <img class="imagenPDF" [src]="'assets/Recursos/pdf.png'"><h4 class="nombreArchivo">{{documento.nombreDocumento}}.pdf</h4>      
                </a>   
            </div>
        </div>   

        <ng-template #listaNoEncontrada class="columna">
            <div *ngIf="mostrarAviso;else mensajeEspera"  class="card card-aviso">
                <div class="card-header">
                    Aviso
                </div>
                <div class="card-body">
                    <h5 class="card-title">No Hay documentos Agregadas</h5>
                    <p class="card-text">Por favor, agregue sus primeros datos para poder utilizar el sistema</p>

                    <a type="button" (click)="limpiarCampos()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Agregar Nuevo
                    </a>
                </div>
            </div>
            <ng-template #mensajeEspera>
                <div  class="template">
                    <h1 class="textoEspera"> Espere...</h1>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-warning" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-info" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-grow text-dark" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>  
    </div>
</div>