

<div id="presentacion">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000" data-bs-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block img-fluid imagenCarrocel" [src]="'assets/Recursos/home1.jpg'" alt="First slide">
            <div class="carousel-caption d-md-block">
                <div class="banner-text">
                    <h2 class="TituloAnimeCarrosuel">Bienvenidos a</h2>
                    <p> Encryp<span class="text-danger">Bóveda</span></p>
                </div>	
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid imagenCarrocel" [src]="'assets/Recursos/home2.jpg'" alt="First slide">
            <div class="carousel-caption d-md-block ">
                <div class="banner-text">
                    <h2 class="TituloAnimeCarrosuel">Mayor Seguridad</h2>
                    <p>Con una Doble Encriptación</p>
                </div>	
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid imagenCarrocel" [src]="'assets/Recursos/home3.jpg'" alt="First slide">
            <div class="carousel-caption d-md-block ">
                <div class="banner-text">
                    <h2 class="TituloAnimeCarrosuel">Protege tu información</h2>
                    <p>Con acceso gratuito</p>
                </div>	
            </div>
          </div>
        </div>
      </div>	           
</div>

<div id="contenido">
    <div class="container">
        <div class="textoTituloContenido">
            <span>
                ¿Ya Conoces
            </span>
            <br>
            <span>
                Encryp<span class="text-danger">Bóveda</span>?
            </span>
        </div>
        <div class="texnoNormal">
            <p>Te invitamos a conocer nuestro sitio web </p>
            <p>donde podrás almanezar tus contraseñas</p>
            <p>de forma fácil, rápida y segura.</p>
           
        </div>
    </div>
</div>

<div id="informacion">
    <div class="container">
        <div class="textoTituloInformacion">
            <span>
                Lo mejor en
            </span>
            <br>
            <span>
                Seguridad
            </span>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-6 center">
            <img [src]="'assets/Recursos/Seguridad.png'" class="imagenLogoS">
            <h2>Doble Encriptación</h2>
            <div class="texnoNormal2">
                <p>Buscando mejorar la seguridad en almacenar contraseñas, 
                    contamos con un servicio de encriptación doble que nos permite 
                    brindarle mayor protección a tus datos.</p>
            </div> 
        </div>
        <div class="col-lg-6 center">
            <img [src]="'assets/Recursos/Seguridad.png'" class="imagenLogoS">
            <h2>Tipo de Encriptación</h2>
            <div class="texnoNormal2">
                <p>Diseñada para garantizar una alta seguridad, EncrypBóveda,
                  protege sus contraseñas, encriptándolas con el
                  algoritmo AES, el cifrado más sólido conocido.</p>
            </div> 
        </div>

      </div>        
    </div>
</div>

<div id="informacion2">
    <div class="container">
        <div class="textoTituloInformacion2">
            <span>
                Fácil 
            </span>
            <br>
            <span>
                Disponibilidad
            </span>
        </div>
        <div class="texnoNormal3">
            <p>Puedes acceder desde cualquier dispositivo móvil o de escritorio, etc.</p>        
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img [src]="'assets/Recursos/imagen1.png'" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fácil captura de datos</h5>
                  <p class="card-text"> Almacena tus contraseñas en categorías organizadas, lo que te facilita encontrarlas o capturarlas.
                </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img  [src]="'assets/Recursos/imagen2.jpg'" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gratuito</h5>
                  <p class="card-text">Ofrece una excelente versión gratuita que te permite sincronizar tu información en dispositivos ilimitados.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img  [src]="'assets/Recursos/imagen3.jpg'" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Compatibilidad y Disponibilidad</h5>
                  <p class="card-text">Puedes acceder desde cualquier plataforma (Windows, macOS, Android, iOS y Linux) o navegador (Chrome, Safari, Firefox, Internet Explorer y Edge.)</p>
                </div>
              </div>
            </div>
          </div>
        
    </div>
</div>